body {
  background-color: #C8D0D2;
  box-sizing: border-box;
  margin: 0;
}

.container {
  /* max-width: 1500px; */
  background-color: #009900;
  height: 750px;
  margin: 1rem 2rem;
  /* text-align: center; */
  width: auto;
}

.header {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  display: flex;
  flex-wrap: wrap;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2em;
  letter-spacing: -2px;
  padding: 2.5rem;
  position: sticky; 
  text-transform: uppercase;
  top: 0;
  z-index: 10;
}

.nav-btn {
  background-color:lightcoral;
  border: none;
  border-radius: .3em;
  color: white;
  font-size: 20px;
  outline: none;
  padding: .5em 1em;
}

.nav-btn:hover {
  background-color:lightcyan;
  color: black;
}

.btn-container {
  margin-left: auto;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  transition: 150ms;
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.card-grid {
  align-items: center;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 50px;
}

.flip {
  --rotate-y: 180deg;
}

.card .front {
  font-size: 18px;
  left: 0;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  padding: 1rem;
  position: absolute;
}

.card .back {
  transform: rotateY(-180deg);
}

.flashcard-options {
  margin-top: .5rem;
}

.flashcard-option {
  margin-top: .25rem;
  color: #555;
  font-size: .75rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}

.banner {
  color: gold;
  font-family: DiscoBlingRegular;
  font-size: 40px;
  height: 60px;
  text-transform: uppercase;
}

.player-controls {
  height: 16em;
  text-align: center;
}

.btn {
  border: none;
  border-radius: .3em;
  font-size: 20px;
  outline: none;
  padding: .5em 1em;
}

.cards {
  align-items: center;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 46px;
  height: 140px;
  justify-content: center;
  position: relative;
  width: 100px;
}

.card-img {
  width: 40px;
}

.card-back {
  align-items: center;
  border: 3px solid white;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  display: flex;
  height: 140px;
  justify-content: center;
  position: relative;
  width: 100px;
}

.cards-grid {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 50px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.warning {
  color: red;
  font-weight: bold;
}

.f-s-30 {
  font-size: 30px;
  vertical-align: middle;
}

.btn-controls {
  display: table;
  height: 80px;
  width: 100%;
}

.btn-align {
  display: table-cell;
  vertical-align: middle;
}

.selected {
  padding: 20px;
}

.blue {
  border: 3px solid blue;
}

.green {
  border: 3px solid green;
}

.red {
  border: 3px solid red;
}

.yellow {
  border: 3px solid yellow;
}

.brown {
  border: 3px solid brown;
}

.black {
  border: 3px solid black;
}

.purple {
  border: 3px solid purple;
}

.white {
  border: 3px solid white;
}

.grey {
  border: 3px solid grey;
}