body {
  background-color: #C8D0D2;
  box-sizing: border-box;
  margin: 0;
}

.flashcard-grid {
  align-items: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  height: 146px;
  margin: 50px;
}

.container {
  background-color: #009900;
  height: 50em;
  width: auto;
}

.header {
  align-items: center;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  display: flex;
  flex-wrap: wrap;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 2em;
  padding: 1em;
  position: sticky; 
  text-transform: uppercase;
  top: 0;
  z-index: 10;
}

.nav-btn {
  background-color:lightcoral;
  border: none;
  border-radius: .3em;
  color: white;
  font-size: .65em;
  outline: none;
  padding: .5em 1em;
}

.nav-btn:hover {
  background-color:lightcyan;
  color: black;
}

.btn-container {
  margin-left: auto;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  transition: 150ms;
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}

.flip {
  --rotate-y: 180deg;
}

.card .front {
  font-size: 1.125em;
  left: 0;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  padding: 1rem;
  position: absolute;
}

.card .back {
  transform: rotateY(-180deg);
}

.flashcard-options {
  margin-top: .5rem;
}

.flashcard-option {
  margin-top: .25rem;
  color: #555;
  font-size: .75rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}

.player-controls {
  height: 14em;
  text-align: center;
}

.btn {
  border: none;
  border-radius: .3em;
  font-size: 1.25em;
  outline: none;
  padding: .5em 1em;
}

.cards {
  align-items: center;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 46px;
  height: 140px;
  justify-content: center;
  position: relative;
  width: 100px;
}

.card-img {
  width: 1em;
}

.card-back {
  align-items: center;
  border: 3px solid white;
  border-radius: .25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
  display: flex;
  height: 8.75em;
  justify-content: center;
  position: relative;
  width: 100px;
}

.cards-grid {
  align-items: center;
  display: grid;
  /* gap: 2rem; */
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  height: 146px;
  margin: 50px;
}

.hand-labels {
  /* height: 50px; */
  color: gold;
  font-family: Optima;
  font-size: 24px;
  letter-spacing: 2px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.warning {
  color: red;
  font-weight: bold;
}

.f-s-30 {
  font-size: 30px;
  vertical-align: middle;
}

.btn-controls {
  display: table;
  height: 70px;
  width: 100%;
}

.btn-align {
  display: table-cell;
  vertical-align: middle;
}

.selected {
  padding: 20px;
}

.white {
  border: 3px solid white;
}

.yellow {
  border: 3px solid yellow;
}

.red {
  border: 3px solid red;
}

.blue {
  border: 3px solid blue;
}

.grey {
  border: 3px solid grey;
}

.green {
  border: 3px solid green;
}

.orange {
  border: 3px solid orange;
}

.black {
  border: 3px solid black;
}

.pink {
  border: 3px solid pink;
}

.purple {
  border: 3px solid purple;
}

.banner {
  height: 82px;
}

.shimmer {
  display: inline;
  text-transform: uppercase;
  font-family: DiscoBlingRegular;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  color: rgba(233, 188, 43, 0.8);
  background: -webkit-gradient(linear, left top, right top, from(rgb(129, 100, 5)), to(rgb(129, 100, 5)), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(rgb(129, 100, 5)), to(rgb(129, 100, 5)), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(rgb(129, 100, 5)), to(rgb(129, 100, 5)), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgb(129, 100, 5);
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}